/* Dark Theme*/
.dark#myBody {
    background-color: black;
}
/* .dark #switchButton {
    background-color: black;
    border: 1px solid white;
} */
.dark #switchButton .fa-sun {
    display: block;
    color: white;
}

.dark #switchButton .fa-moon {
    display: none;
}
.dark .card {
    background-color: black;
    color: white;
    border: 1px solid white;
}
